body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* Este es el truco: Un degradado de atardecer (Sunset) */
    background: linear-gradient(to bottom, #2b1055, #7597de, #fea49f);
    height: 100vh;
    overflow: hidden; /* Para que no salgan barras de scroll */
}